/* Reset */
body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
}

/* Show border */
.show{
    border: 1px solid red;
}

/* Config menu */
.text-green{
    color: rgb(23, 184, 23);
}

.btn-right{
    width: 100%;
    display: flex;
    justify-content: right;
}

.btn-scroll{
    margin-left: 10px;
    padding: 3px 9px;
    transition: 0.5s;
}

.btn-scroll:hover{
    background-color: rgb(68, 209, 68);
    border-radius: 5px;
    color: #FFF;
}

/* Config Section 1 */
.container-sect-1{
    font-family: Helvetica;
    text-align: center;
    padding: 3rem;
}

.container-sect-1 div h2{
    color: #DDD;
    font-size: 5.5rem;
}

.container-sect-1 div h2 span{
    background-image: radial-gradient(circle at 100.57% 14.59%, #c9f500 0, #acef00 12.5%, #8de800 25%, #6bde20 37.5%, #43d330 50%, #00c73c 62.5%, #00bc45 75%, #00b34f 87.5%, #00aa58 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-sect-1 div p{
    color: #DDD;
    margin: 0 auto;
    width: 60%;
}

.container-sect-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.container-sect-1 div div a{
    background-color: #222;
    border-radius: 5px;
    color: #DDD;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 25px;
}

.container-sect-1 div div a:hover{
    color: #FFF;

}

/* Config Section About */
.container-sect-about{
    background-color: #111;
    font-family: Helvetica;
    padding: 3rem;
}

.container-about{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.about-item,
.about-item-2{
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: end;
    padding: 0px 60px;
}

.about-item-2{
    justify-content: left;
}

.img-profile-control{
    border: 15px solid #000;
    box-shadow: 0px 0px 10px rgb(68, 209, 68);
    height: 300px;
    width: 300px;
}

.text-profile-control{
    color: #DDD;
    font-size: 1rem;
}

.text-profile-control h2{
    color: rgb(68, 209, 68);
}

/* Config sect Project */
.container-sect-project{
    font-family: Helvetica;
    padding: 3rem;
}

.container-project h2{
    color: rgb(68, 209, 68);
}

.container-project p{
    color: #DDD;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* Config sect Contacts */
.container-sect-contact{
    background-color: #111;
    font-family: Helvetica;
    padding: 3rem;
}

.container-contact-1 h2{
    color: rgb(68, 209, 68);
    text-align: center;
}

.container-contact-1 p{
    color: #DDD;
    font-size: 1.5rem;
    text-align: center;
}

.btn-contact{
    color: rgb(83, 83, 231);
    text-decoration: none;
}

.container-contact-2{
    display: flex;
}

.contact-item{
    align-items: center;
    color: #DDD;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.rounded-icon{
    align-items: center;
    background-color: rgb(68, 209, 68);
    border-radius: 50%;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 70px;
    margin: 10px 0px;
}

.rounded-icon i{
    font-size: 2rem;
}

/* Footer */
footer{
    color: #BBB;
}

/* Responsividade */
@media (max-width: 1050px){

    /* Section 1*/
    .container-sect-1 div h2{
        font-size: 4rem;
    }
}

@media (max-width: 800px){

    /* Menu */
    .btn-scroll{
        display: flex;
        justify-content: right;
    }

    /* Section 1*/
    .container-sect-1 div h2{
        font-size: 3rem;
    }

    /* Section About */
    .container-about{
        flex-direction: column;
    }

    .about-item,
    .about-item-2{
        justify-content: center;
    }

    .about-item-2{
        margin-top: 40px;
    }

    .container-about{
        height: 600px;
    }
}

@media (max-width: 450px){

    /* Section 1 */
    .title-ajust{
        font-size: 1rem;
    }

    .btn-text-ajust{
        font-size: 0.8rem;
        margin-right: 10px;
    }

    .container-sect-1{
        padding: 1rem;
    }

    .container-sect-1 div h2{
        font-size: 2rem;
    }

    .container-sect-1 div p{
        width: 100%;
    }

    .container-sect-1 div div a{
        margin-left: 5px;
        margin-right: 5px;
    }

    /* Section About */
    .container-sect-about{
        padding: 1rem;
    }

    .container-about{
        height: 490px;
    }

    .img-profile-control{
        height: 200px;
        width: 200px;
    }

    .text-profile-control{
        font-size: 1rem;
    }

    .about-item,
    .about-item-2{
        padding: 0px 10px;
    }
   
    .text-profile-control h2{
        text-align: center;
    }

    /* Section Contacts */
    .container-contact-2{
        flex-direction: column;
    }
}